<div>
  <h2> <%= @winner %> won the game !! </h2></br></br>
  <div id="left">
    <h4> Game history for <%= @player1.name %> : </h4>

    <% @player1.games.each do |game| %>
    <ul>
      <li>Game Id: <%= game.id %></li>
      <li>Winner: <%= game.winner %></li>
      <li>Player1: <%= game.player1 %></li>
      <li>Player2: <%= game.player2 %></li>
    </ul>
    <% end %></br></br>
  </div>
  <div id="right">
    <h4> Game history for <%= @player2.name %> : </h4>
    <% @player2.games.each do |game| %>
    <ul>
      <li>Game Id: <%= game.id %></li>
      <li>Winner: <%= game.winner %></li>
      <li>Player1: <%= game.player1 %></li>
      <li>Player2: <%= game.player2 %></li>
    </ul>
    <% end %></br></br>
  </div>
</div>
